# Git and version control
.git
.github

# Node.js deps and build artifacts
node_modules
.next
npm-debug.log
tsconfig.tsbuildinfo

# Docker and orchestration files
Dockerfile
.dockerignore
docker-compose.yaml
docker-compose.override.yaml

# Local environment variables
.env
.env.*
!.env.example

# Development tooling and configs
biome.jsonc
drizzle.config.ts
README.md
commitlint.config.js
lefthook.yml
scripts/

# Separate image
python/
