services:
  winnonah:
    restart: always
    image: ghcr.io/driftwoodeval/winnonah:latest
    container_name: winnonah
    environment:
      - DATABASE_URL=${DOCKER_DATABASE_URL}
      - AUTH_SECRET=${AUTH_SECRET}
      - AUTH_TRUST_HOST=true
      - AUTH_GOOGLE_ID=${AUTH_GOOGLE_ID}
      - AUTH_GOOGLE_SECRET=${AUTH_GOOGLE_SECRET}
      - AUTH_URL=${AUTH_URL}
      - PUNCHLIST_ID=${PUNCHLIST_ID}
      - PUNCHLIST_RANGE=${PUNCHLIST_RANGE}
      - REDIS_HOST=${DOCKER_REDIS_HOST}
      - OPENPHONE_API_TOKEN=${OPENPHONE_API_TOKEN}
      - OPENPHONE_NUMBER_ID=${OPENPHONE_NUMBER_ID}
      - API_KEY=${API_KEY}
      - NEXT_PUBLIC_APP_TITLE=${NEXT_PUBLIC_APP_TITLE}
      - NEXT_PUBLIC_APP_DOMAIN=${NEXT_PUBLIC_APP_DOMAIN}

    volumes:
      - ./logs:/app/logs
      - ../qs/logs/screenshots:/app/q-screenshots

  driftwood-db:
    image: mysql
    container_name: driftwood-db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    ports:
      - 3306:3306
    volumes:
      - winnonah_db-data:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: redis-winnonah
    restart: always

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-winnonah
    command: tunnel --no-autoupdate run --token
      ${CF_TOKEN}
    restart: always

  winnonah-python:
    image: ghcr.io/driftwoodeval/winnonah-python:latest
    container_name: winnonah-python
    restart: always
    environment:
      - HEADLESS=true
      - DATABASE_URL=${DOCKER_DATABASE_URL}
      - PUNCHLIST_ID=${PUNCHLIST_ID}
      - PUNCHLIST_RANGE=${PUNCHLIST_RANGE}
      - TA_USERNAME=${TA_USERNAME}
      - TA_PASSWORD=${TA_PASSWORD}
      - EXCLUDED_TA=${EXCLUDED_TA}
      - ASANA_TOKEN=${ASANA_TOKEN}
      - ASANA_WORKSPACE=${ASANA_WORKSPACE}
      - CENSUS_API_KEY=${CENSUS_API_KEY}
      - OPENPHONE_API_TOKEN=${OPENPHONE_API_TOKEN}
      - OPENPHONE_NUMBER_ID=${OPENPHONE_NUMBER_ID}
      - FAX_FOLDER_ID=${FAX_FOLDER_ID}
      - BASE_FOLDER_ID=${BASE_FOLDER_ID}
      - ERROR_EMAILS=${ERROR_EMAILS}
    volumes:
      - ./python/auth_cache:/app/auth_cache
      - ./python/temp:/app/temp
      - ./python/logs:/app/logs
      - ./python/shapefiles:/app/shapefiles

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    environment:
      - WATCHTOWER_POLL_INTERVAL=3600
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always

  redirect:
    image: nginx:alpine
    container_name: winnonah-redirect
    restart: always
    ports:
      - 8484:80
    volumes:
      - ./redirect:/usr/share/nginx/html:ro

volumes:
  winnonah_db-data:
