[mysqld]
server-id                       = 1
log_bin                         = /var/lib/mysql/mysql-bin
binlog_row_image                = FULL
binlog_expire_logs_seconds = 604800
sync_binlog                     = 1
innodb_flush_log_at_trx_commit  = 1

# GTID — clean promotion and re-sync
gtid_mode                       = ON
enforce_gtid_consistency        = ON

bind-address                    = 0.0.0.0
skip_name_resolve               = ON
