[mysqld]
server-id                       = 2
log_bin                         = /var/lib/mysql/mysql-bin
binlog_row_image                = FULL
binlog_expire_logs_seconds      = 604800

gtid_mode                       = ON
enforce_gtid_consistency        = ON

relay_log                       = /var/lib/mysql/relay-bin
relay_log_recovery              = ON

read_only                       = ON
super_read_only                 = ON

bind-address                    = 0.0.0.0
skip_name_resolve               = ON

replica_parallel_workers        = 4
