name: Build and Push Docker Images

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io

permissions:
  contents: read
  packages: write

jobs:
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      build_node: ${{ steps.check_node_changes.outputs.build_triggered }}
      build_python: ${{ steps.check_python_changes.outputs.build_triggered }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46

      - name: Check for node changes
        id: check_node_changes
        run: |
          echo "build_triggered=false" >> $GITHUB_OUTPUT
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            if [[ ! "$file" == python/* ]]; then
              echo "Detected change in '$file', triggering Node.js build."
              echo "build_triggered=true" >> $GITHUB_OUTPUT
              break
            fi
          done

      - name: Check for python changes
        id: check_python_changes
        run: |
          echo "build_triggered=false" >> $GITHUB_OUTPUT
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            if [[ "$file" == python/* ]]; then
              echo "Detected change in '$file', triggering Python build."
              echo "build_triggered=true" >> $GITHUB_OUTPUT
              break
            fi
          done

  build-node:
    runs-on: ubuntu-latest
    needs: check-changes
    if: needs.check-changes.outputs.build_node == 'true'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for main image
        id: meta-main
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Set Short SHA
        run: echo "SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_ENV

      - name: Build and push main Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta-main.outputs.tags }}
          labels: ${{ steps.meta-main.outputs.labels }}
          build-args: |
            NEXT_PUBLIC_COMMIT_HASH=${{ env.SHORT_SHA }}
            NEXT_PUBLIC_GIT_BRANCH=${{ github.ref_name }}
            NEXT_PUBLIC_BUILD_DATE=${{ github.event.head_commit.timestamp }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-python:
    runs-on: ubuntu-latest
    needs: check-changes
    if: needs.check-changes.outputs.build_python == 'true'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Python image
        id: meta-python
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}-python
          tags: |
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Python Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./python
          file: ./python/Dockerfile
          push: true
          tags: ${{ steps.meta-python.outputs.tags }}
          labels: ${{ steps.meta-python.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  delete-old-packages:
    runs-on: ubuntu-latest
    needs: [build-node, build-python]
    if: always() && (needs.build-node.result == 'success' || needs.build-python.result == 'success')
    steps:
      - uses: actions/delete-package-versions@v5
        with:
          package-name: "winnonah"
          package-type: "container"
          min-versions-to-keep: 5

      - uses: actions/delete-package-versions@v5
        with:
          package-name: "winnonah-python"
          package-type: "container"
          min-versions-to-keep: 5
